{% extends "layout_unbranded.html" %}
{% block pageTitle %}
{% if errors %} Error: {% endif %}Enter your date of birth
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "enter-name"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ errorMacros.summary({errors: errors.summary}) }}
    <span class="govuk-caption govuk-caption-l">Provide details</span>
    <form action="?" method="post">
      {{ govukDateInput({
        id: "date-of-birth",
        namePrefix: "date-of-birth",
        fieldset: {
          legend: {
            text: "What is your date of birth?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 27 3 2007"
        },
        errorMessage: errors.inline['date-of-birth'],
        items: [
          {
            classes: errors.inline['date-of-birth'].inputs | dateErrorClasses('day'),
            name: "day",
            value: data['date-of-birth-day']
          },
          {
            classes: errors.inline['date-of-birth'].inputs | dateErrorClasses('month'),
            name: "month",
            value: data['date-of-birth-month']
          },
          {
            classes: errors.inline['date-of-birth'].inputs | dateErrorClasses('year'),
            name: "year",
            value: data['date-of-birth-year']
          }
        ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    {{ taskListMacros.returnToSummary() }}
  </div>
</div>

{% endblock %}