<h1 class="govuk-heading-l">Radios</h1>

<p class="govuk-body">See <a class="govuk-link" href="https://github.com/nubz/prototype-strategies-examples/blob/main/app/views/errors/radios" rel="noreferrer noopener" target="_blank">the code for these examples</a></p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="required">Radio question is required</a>
        <p class="govuk-body">Leave blank to see errors</p>
    </li>
    <li>
        <a href="nestedFields">Radios with nested, conditional field</a>
        <p class="govuk-body">Select a radio and leave the nested field blank or use invalid characters to see errors</p>
    </li>
</ul>