{% extends "layout_unbranded.html" %}

{% set title %}
Any order task list
{% endset -%}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "../"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Any order task list
    </h1>

    <p class="govuk-body">
      You can complete these tasks in any order.
    </p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">
            1.
          </span>
          Before you start
        </h2>

        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            {{ taskListMacros.taskLink(taskStatus.eligibility) }}
            {{ taskListMacros.status(taskStatus.eligibility.status) }}
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">
            2.
          </span>
          Provide details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            {{ taskListMacros.taskLink(taskStatus.yourDetails) }}
            {{ taskListMacros.status(taskStatus.yourDetails.status) }}
          </li>
        </ul>
      </li>
    </ol>
    {% if taskListComplete %}
      <p class="govuk-body">
        Now the task list is complete we can move on...
      </p>
      <a href="../" class="govuk-button" role="button" data-module="govuk-button">Continue</a>
    {% endif %}

    {{ govukDetails({
      summaryText: "Schema for this task list",
      html: demoModel | prettySchema
    }) }}

    {{ govukDetails({
      summaryText: "Task list status",
      html: demoTaskStatus | prettyStatus
    }) }}

    <a href="https://github.com/nubz/prototype-strategies-examples/tree/main/app/views/task-lists/any-order" rel="noopener noreferrer" target="_blank">View the code for this task list</a>

  </div>
</div>

{% endblock %}
