{% extends "layout_unbranded.html" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "../"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Sequenced task list
    </h1>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">
            1.
          </span>
          Before you start
        </h2>

        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            {{ taskListMacros.taskLink(taskStatus.eligibility) }}
            {{ taskListMacros.status(taskStatus.eligibility.status) }}
          </li>
          <li class="app-task-list__item">
            {{ taskListMacros.taskLink(taskStatus.yourDetails) }}
            {{ taskListMacros.status(taskStatus.yourDetails.status) }}
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">
            2.
          </span>
          About your shed
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            {{ taskListMacros.taskLink(taskStatus.aboutShed) }}
            {{ taskListMacros.status(taskStatus.aboutShed.status) }}
          </li>
        </ul>
      </li>
    </ol>

    {% if taskListComplete %}
      <p class="govuk-body">
        Now the task list is complete we can move on...
      </p>
      <a href="../" class="govuk-button" role="button" data-module="govuk-button">Continue</a>
    {% endif %}

    <hr class="govuk-!-margin-bottom-9" />

    {{ govukDetails({
      summaryText: "Notes",
      html: "This schema imports 2 useful things from the <pre>@nubz/gds-task-list-ops</pre> package, <pre>STATUS</pre> and <pre>taskStatus</pre> and then tasks can access values about the <pre>STATUS</pre> of other tasks in their <pre>includeIf</pre> rule, any tasks that return false with their <pre>includeIf</pre> method will have the status <pre>CANNOT_START</pre>"
    }) }}

    {{ govukDetails({
      summaryText: "Schema for this task list",
      html: demoModel | prettySchema
    }) }}

    {{ govukDetails({
      summaryText: "Task list status",
      html: demoTaskStatus | prettyStatus
    }) }}

  </div>
</div>

{% endblock %}
