<h1 class="govuk-heading-l">Text input</h1>

<p class="govuk-body">See <a class="govuk-link"
                             href="https://github.com/nubz/prototype-strategies-examples/blob/main/app/views/errors/textInput"
                             rel="noreferrer noopener" target="_blank">the code for the template and the routes.js
    file</a> which shows these models and route handlers.</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="required">Simple required text input</a>
        <p class="govuk-body">Leave blank to trigger error</p>
    </li>
    <li>
        <a href="maxLength">Text input with a maximum length</a>
        <p class="govuk-body">Enter more than 10 characters to trigger error</p>
    </li>
    <li>
        <a href="minLength">Text input with a minimum length</a>
        <p class="govuk-body">Enter fewer than 4 characters to trigger error</p>
    </li>
    <li>
        <a href="exactLength">Text input with an exact length</a>
        <p class="govuk-body">Enter anything other than 3 characters to trigger error</p>
    </li>
    <li>
        <a href="regex">Text input with a regular expression</a>
        <p class="govuk-body">Enter characters other than letters or numbers to trigger error</p>
    </li>
</ul>