{% extends "layout_unbranded.html" %}
{% set title %}
Check your answers
{% endset -%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <span class="govuk-caption govuk-caption-xl">About your shed</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>

    {% include '../includes/summaries/about-shed.html' %}

    <form action="?" method="post" novalidate>

      <button type="submit" class="govuk-button">
        Confirm and continue
      </button>

    </form>

  </div>
</div>
{% endblock %}
