{% extends "layout_unbranded.html" %}
{% block pageTitle %}
{% if errors %} Error: {% endif %}Text input examples - Prototype strategies examples
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "../"
  }) }}
{% endblock %}

{% set describedby %}{% if hint %}company-name-hint{% endif %}{% if errors %} company-name-error-inline{% endif %}{% endset -%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ errorMacros.summary({errors: errors.summary}) }}
    <form action="?" method="post">
      <div class="govuk-form-group{% if errors.inline['company-name'] %} govuk-form-group--error{% endif %}">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="company-name">
            What is your company name?
          </label>
        </h1>
        {% if hint %}
          <div class="govuk-hint" id="company-name-hint">
            {{ hint }}
          </div>
        {% endif %}
        {{ errorMacros.inline({errors: errors.inline, key: 'company-name'}) }}
        <input
            class="govuk-input govuk-input--width-10{% if errors.inline['company-name'] %} govuk-input--error{% endif %}"
            id="company-name"
            name="company-name"
            type="text"
            value="{{ data['company-name'] }}"
            {% if describedby %}aria-describedby="{{ describedby }}"{% endif %}
        >
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}