<h1 class="govuk-heading-l">Matches and exclusions input</h1>

<p class="govuk-body">See <a class="govuk-link" href="https://github.com/nubz/prototype-strategies-examples/blob/main/app/views/errors/matches" rel="noreferrer noopener" target="_blank">the code for these examples</a></p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="matches">Answer that must match something in our list of matches</a>
        <p class="govuk-body">Good for matching known ids</p>
    </li>
    <li>
        <a href="exclusions">Answer that must not match something in our list of exclusions</a>
        <p class="govuk-body"></p>
    </li>
</ul>