{% extends "layout_unbranded.html" %}
{% block pageTitle %}
{% if errors %} Error: {% endif %}Matches and exclusions examples - Prototype strategies examples
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "./"
  }) }}
{% endblock %}

{% set describedby %}{% if hint %}reference-hint{% endif %}{% if errors %} reference-error-inline{% endif %}{% endset -%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ errorMacros.summary({errors: errors.summary}) }}
    <form action="?" method="post" novalidate>
      <div class="govuk-form-group{% if errors.inline['reference'] %} govuk-form-group--error{% endif %}">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="reference">
            What is your reference number?
          </label>
        </h1>
        {% if hint %}
          <div class="govuk-hint" id="reference-hint">
            {{ hint }}
          </div>
        {% endif %}
        {{ errorMacros.inline({errors: errors.inline, key: 'company-name'}) }}
        <input
            class="govuk-input govuk-input--width-10{% if errors.inline['reference'] %} govuk-input--error{% endif %}"
            id="reference"
            name="reference"
            type="text"
            value="{{ data['reference'] }}"
            {% if describedby %}aria-describedby="{{ describedby }}"{% endif %}
        >
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    <div class="meta">
      {{ govukDetails({
        summaryText: "Page model for this validation",
        html: demoModel | prettyModel
      }) }}
    </div>
  </div>
</div>

{% endblock %}