{% extends "layout_unbranded.html" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "../"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Task list with CYA task
    </h1>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">
            1.
          </span>
          Before you start
        </h2>

        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            {{ taskListMacros.taskLink(taskStatus.eligibility) }}
            {{ taskListMacros.status(taskStatus.eligibility.status) }}
          </li>
          <li class="app-task-list__item">
            {{ taskListMacros.taskLink(taskStatus.yourDetails) }}
            {{ taskListMacros.status(taskStatus.yourDetails.status) }}
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">
            2.
          </span>
          About your shed
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            {{ taskListMacros.taskLink(taskStatus.aboutShed) }}
            {{ taskListMacros.status(taskStatus.aboutShed.status) }}
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">
            3.
          </span>
          Declaration
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            {{ taskListMacros.taskLink(taskStatus.cya) }}
            {{ taskListMacros.status(taskStatus.cya.status) }}
          </li>
        </ul>
      </li>
    </ol>

    <div class="meta">

      {{ govukDetails({
        summaryText: "Schema for this task list",
        html: demoModel | prettySchema
      }) }}

      {{ govukDetails({
        summaryText: "Notes",
        html: "<p class='govuk-body'>By default the <pre>returnTaskStatus()</pre> method in this package gives us the status of a generic <pre>cya</pre> task, we can choose to represent this as a task in our template or not.</p><p class='govuk-body'>Storing all the summaries for each task in a common folder and putting the path to each summary in each task model allows us to aggregate all the included summaries into a single Check Your Answers page, should we want one.</p>"
      }) }}

      {{ govukDetails({
        summaryText: "Task list status",
        html: demoTaskStatus | prettyStatus
      }) }}

      <a href="https://github.com/nubz/prototype-strategies-examples/tree/main/app/views/task-lists/with-cya" rel="noopener noreferrer" target="_blank">View the code for this task list</a>

    </div>
  </div>
</div>

{% endblock %}
