
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Error handling - Prototype strategies examples
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "../"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Error handling examples
      </h1>

      <p class="govuk-body">
        These examples all make use of this
        <a href="https://www.npmjs.com/package/@nubz/gds-validation" rel="noreferrer noopener" target="_blank">
          validation package available via NPM
        </a> which automates the writing of error messages using GDS error templates and produces errors that can be
        consumed by existing design system error components such as govukErrorSummary.
      </p>

      <h2 class="govuk-heading-l">Text input using inline models</h2>

      <p class="govuk-body">See the code for the template and the routes.js file which shows these models and route handlers on
        <a class="govuk-link"
           href="https://github.com/nubz/prototype-strategies-examples/blob/main/app/views/errors/textInput"
           rel="noreferrer noopener" target="_blank">github</a>.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="textInput/text-input">Simple required text input</a>
          <p class="govuk-body">Leave blank to trigger error</p>
        </li>
        <li>
          <a href="textInput/text-input-maxLength">Text input with a maximum length</a>
          <p class="govuk-body">Enter more than 10 characters to trigger error</p>
        </li>
        <li>
          <a href="textInput/text-input-minLength">Text input with a minimum length</a>
          <p class="govuk-body">Enter fewer than 4 characters to trigger error</p>
        </li>
        <li>
          <a href="textInput/text-input-exactLength">Text input with an exact length</a>
          <p class="govuk-body">Enter anything other than 3 characters to trigger error</p>
        </li>
        <li>
          <a href="textInput/text-input-regex">Text input with a regular expression</a>
          <p class="govuk-body">Enter characters other than letters or numbers to trigger error</p>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
