
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Error handling - Prototype strategies examples
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "../"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% if folder %}
        {% include "./" + folder + "/index.html" %}
      {% else %}
        <h1 class="govuk-heading-xl">
          Error handling examples
        </h1>
        <p class="govuk-body">
          These examples all make use of the
          <a href="https://www.npmjs.com/package/@nubz/gds-validation" rel="noreferrer noopener" target="_blank">
            @nubz/gds-validation
          </a> package available via NPM which automates the writing of error messages using GDS error templates and produces errors that can be
          consumed by existing design system error components such as govukErrorSummary.
        </p>

        <p>The template, routing and model code for all examples can be seen on Github.</p>
      {% endif %}

    </div>
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-s app-related-items">Error examples</h2>
      <ul class="govuk-list">
        <li><a href="/errors/textInput/" class="govuk-link">Text input (simple text)</a></li>
        <li><a href="/errors/currencyInput/" class="govuk-link">Currency input</a></li>
        <li><a href="" class="govuk-link"></a></li>
        <li><a href="" class="govuk-link"></a></li>
      </ul>
    </div>
  </div>

{% endblock %}
