<h1 class="govuk-heading-l">Currency input</h1>

<p class="govuk-body">See <a class="govuk-link" href="https://github.com/nubz/prototype-strategies-examples/blob/main/app/views/errors/currencyInput" rel="noreferrer noopener" target="_blank">the code for these examples</a></p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="required">Currency input that is required</a>
        <p class="govuk-body">Leave blank or enter non-numerical characters to trigger error</p>
    </li>
    <li>
        <a href="currencyMax">Currency input with a maximum amount</a>
        <p class="govuk-body">Enter more than £500 to trigger error</p>
    </li>
    <li>
        <a href="currencyMin">Currency input with a minimum amount</a>
        <p class="govuk-body">Enter less than £10 to trigger error</p>
    </li>
    <li>
        <a href="betweenMinAndMax">Currency input with both a minimum and a maximum amount</a>
        <p class="govuk-body">Enter less than £10 or more than £500 to trigger error</p>
    </li>
    <li>
        <a href="currencyMaxField">Currency input must be less than another field</a>
        <p class="govuk-body">Enter anything above the amount entered in "Amount in bank" to trigger error</p>
    </li>
    <li>
        <a href="currencyMaxHalfField">Currency input must be less than half of another field</a>
        <p class="govuk-body">Enter anything above half of the amount entered in "Amount in bank" to trigger error</p>
    </li>
</ul>