{% extends "layout_unbranded.html" %}
{% block pageTitle %}
{% if errors %} Error: {% endif %}Currency input examples - Prototype strategies examples
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "./"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ errorMacros.summary({errors: errors.summary}) }}
        <h1 class="govuk-heading-xl">Managing money</h1>
        <form action="?" method="post">
            {{ govukInput({
                id: "amountInBank",
                name: "amountInBank",
                label: {
                    text: "How much do you have in the bank?",
                    isPageHeading: false,
                    classes: "govuk-label--m"
                },
                hint: {
                    text: 'This will become the maximum for how much you can spend'
                },
                prefix: {
                    text: "£"
                },
                errorMessage: errors.inline.amountInBank,
                classes: "govuk-input--width-5",
                spellcheck: false,
                value: data.amountInBank
            }) }}

            {{ govukInput({
                id: "spend",
                name: "spend",
                label: {
                    text: "How much can you spend?",
                    isPageHeading: false,
                    classes: "govuk-label--m"
                },
                hint: {
                    text: hint
                },
                prefix: {
                    text: "£"
                },
                errorMessage: errors.inline.spend,
                classes: "govuk-input--width-5",
                spellcheck: false,
                value: data.spend
            }) }}

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
        {{ govukDetails({
            summaryText: "Page model for this validation",
            html: demoModel | prettyModel
        }) }}
    </div>
</div>

{% endblock %}