{% extends "layout_unbranded.html" %}
{% block pageTitle %}
{% if errors %} Error: {% endif %}Currency input examples - Prototype strategies examples
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "./"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ errorMacros.summary({errors: errors.summary}) }}
    <form action="?" method="post">
      {{ govukInput({
        id: "spend",
        name: "spend",
        label: {
          text: "How much can you spend?",
          isPageHeading: true,
          classes: "govuk-label--xl"
        },
        hint: {
          text: hint
        },
        prefix: {
          text: "£"
        },
        errorMessage: errors.inline.spend,
        classes: "govuk-input--width-5",
        spellcheck: false,
        value: data.spend
      }) }}

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    {{ govukDetails({
      summaryText: "Page model for this validation",
      html: pageModel | prettyObj
    }) }}
  </div>
</div>

{% endblock %}