{% extends "layout_unbranded.html" %}
{% block pageTitle %}
{% if errors %} Error: {% endif %}How tall is your shed?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "do-you-have-a-shed"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You are not eligible</h1>
    <p class="govuk-body">In order to be eligible the following must be true:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you must own a shed</li>
      <li>your shed must be taller than 120cm</li>
    </ul>
  </div>
</div>

{% endblock %}