
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Home - Prototype strategies examples
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype strategies examples
      </h1>
      <p>
        Implementations of strategies, using an unbranded implementation of the GOV.UK prototype kit, as written about
        on the <a href="https://protostrategies.netlify.app/" rel="noreferrer noopener" target="_blank">Prototype
        Strategies site (opens in a new tab)</a>.
      </p>


      <h2 class="govuk-heading-l">Error handling examples</h2>

      <p class="govuk-body">
        These examples all make use of my
        <a href="https://www.npmjs.com/package/@nubz/gds-validation" rel="noreferrer noopener" target="_blank">
          validation package available via NPM
        </a> which automates the writing of error messages using GDS error templates and produces errors that can be
        consumed by existing design system error components such as govukErrorSummary.
      </p>

      <h3 class="govuk-heading-m">Text input using inline models</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/errors/textInput/text-input">Simple required text input</a>
          <p class="govuk-body">Leave blank to trigger error</p>
        </li>
        <li>
          <a href="/errors/textInput/text-input-maxLength">Text input with a maximum length</a>
          <p class="govuk-body">Enter more than 10 characters to trigger error</p>
        </li>
        <li>
          <a href="/errors/textInput/text-input-minLength">Text input with a minimum length</a>
          <p class="govuk-body">Enter fewer than 4 characters to trigger error</p>
        </li>
        <li>
          <a href="/errors/textInput/text-input-exactLength">Text input with an exact length</a>
          <p class="govuk-body">Enter anything other than 3 characters to trigger error</p>
        </li>
        <li>
          <a href="/errors/textInput/text-input-regex">Text input with a regular expression</a>
          <p class="govuk-body">Enter characters other than letters or numbers to trigger error</p>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
