
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Home - Prototype strategies examples
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype strategies examples
      </h1>
      <p>
        Implementations of strategies, using an unbranded implementation of the GOV.UK prototype kit.
      </p>

      <h2 class="govuk-heading-l">Examples</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/errors/">Error handling - validation and templates</a>
        </li>
        <li>
          <a href="/task-lists/">Task lists</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
