<h1 class="govuk-heading-l">Dates</h1>

<p class="govuk-body">See <a class="govuk-link" href="https://github.com/nubz/prototype-strategies-examples/blob/main/app/views/errors/dates" rel="noreferrer noopener" target="_blank">the code for these examples</a></p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        <a href="required">Date is required</a>
        <p class="govuk-body">Leave all or any date inputs blank to see errors</p>
    </li>
    <li>
        <a href="beforeToday">Date must be before today</a>
        <p class="govuk-body">Enter a date that is today or later to see error</p>
    </li>
    <li>
        <a href="beforeFixedDate">Date must be after a supplied fixed min date</a>
        <p class="govuk-body">Enter a date that is before 1 January 2022 to see error</p>
    </li>
    <li>
        <a href="beforeFunctionDate">Date must be after a min date returned by a function</a>
        <p class="govuk-body">Enter a date that is more than one hundred years ago to see error</p>
    </li>
    <li>
        <a href="afterFixedDate">Date must be before a supplied fixed max date</a>
        <p class="govuk-body">Enter a date that is after 1 February 2022 to see error</p>
    </li>
    <li>
        <a href="afterFunctionDate">Date must be before a max date returned by a function</a>
        <p class="govuk-body">Enter a date that is less one year ago to see error</p>
    </li>
    <li>
        <a href="betweenMinAndMaxFunctions">Date must be before a max date returned by a function AND after a min date returned by a function</a>
        <p class="govuk-body">Enter a date that is less one year ago or more than one hundred years ago to see error</p>
    </li>
    <li>
        <a href="betweenMinAndMax">Date must be between fixed min and max dates</a>
        <p class="govuk-body">Enter a date that is before 1 January 2022 or after 1 February 2022</p>
    </li>
    <li>
        <a href="betweenMinAndMaxFields">Multiple date fields: Date must be between min and max dates from user entered fields</a>
        <p class="govuk-body">Enter a date that is after the value you enter for Earliest and before the value you enter for latest</p>
    </li>
</ul>